version: "3.8"

services:
  web:
    build: .
    container_name: guestbook-web
    ports:
      - "8080:80"
    depends_on:
      - db

  db:
    image: mysql:8
    container_name: guestbook-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: if0_40653409_guestbook_db
      MYSQL_USER: if0_40653409
      MYSQL_PASSWORD: FV4SEsh1nhz
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
